@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
}

::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
}

button, input, textarea, select {
  font-family: inherit;
}